{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}
{% block jumboTitle %}{% trans "Sign Out" %}{% endblock %}
{% block jumboMessage %}{% trans 'Are you sure you want to sign out?' %}{% endblock %}

{% block timtool_body %}

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-success" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
