{% extends "tune/layout.html" %}
{% load tune_filters %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Home' %}
{% endblock %}

{% block jumboTitle %}
{% trans 'Home' %}
{% endblock %}

{% block jumboMessage %}
{% trans 'Welcome on' %} <span class="tooltipInfo"ata-toggle="tooltip" title="Traditional Irish Music Tool"> Timtool* !</span>
{% endblock %}

{% block timtool_body %}
<div class="row">
    <div class="col-sm-12 well">
                <h1>{% trans 'About' %} <span class="tooltipInfo"ata-toggle="tooltip" title="Traditional Irish Music Tool"> Timtool*</span></h1>
        <p>{% blocktrans %}<strong>Timtool</strong> means "Traditional Irish Music Tool." <br/>
             <strong>Timtool</strong> is a web application project (and soon available on Android). The application is <strong>completely free</strong> and without advertising, designed by a traditional Irish music lover, for lovers of traditional Irish music. <br/>
             This application is not intended to replace existing applications (TheSession, or the excellent and indispensable Tunepal). On the other hand, it allows: {% endblocktrans %}
            <ul>
                <li>{% blocktrans %}Save and <strong>manage your personal Tune library</strong>,{% endblocktrans %}</li>
                <li>{% blocktrans %}<strong>Generate random sets/lists</strong> of tunes based on filters and criterias,{% endblocktrans %}</li>
                <li>{% blocktrans %}<strong>Compare your tunes with other users</strong>,{% endblocktrans %}</li>
                <li>{% blocktrans %}<strong>Create groups (sessions)</strong> to share common information and tunes,{% endblocktrans %}</li>
                <li>{% url 'about' as url_about %}
                {% blocktrans %}
                And much more ... (see <a href='{{url_about}}' class="btn btn-xs btn-success">about Timtool</a> to see the exhaustiveness of common features and coming from ones<strong> of Timtool</strong>)
                {% endblocktrans %}
                </li>
            </ul>
            {% blocktrans %}<strong>Timtool v1.0</strong> is the first version of the application. Other versions of the app remain to come, with even more features, more design, more fun!{% endblocktrans %}
        </p>
        <p>{% url 'user:contact' as url_contact %}
                {% blocktrans %}
                Any ideas ? Recommendations ? Suggestions ? Questions ? Bug ? Need support ? Do not hesitate to contact me thanks to the <a href="{{url_contact}}" class="btn btn-xs btn-success">contact form !</a>
                {% endblocktrans %}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 well">
        <div class="row">
            <div class="col-xs-12">
                <h1>{% trans 'Last Tunes added' %}</h1>
                        <div class="panel panel-primary wrappedTable">
            <table class="table table-striped table-hover">
                {% if tunes|length == 0 %}
                <thead><tr><th>{% trans 'No Tune found' %}</th></tr></thead>
                {% else %}
                <thead>
                    <tr>
                        <th class="widthCell">{% trans 'Name' %}</th>
                        <th class="hidden-xs">{% trans 'Type' %}</th>
                        <th class="hidden-xs">{% trans 'Key' %}</th>
                        <th>{% trans 'Favorite' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tune in tunes %}
                    <tr data-id="{{tune.name}}">
                        <td class=""><a
                            href="{% url 'tune:tune_lire' slug=tune.slug %}"
                            class="btn-link tooltipInfo" data-toggle="tooltip"
                            title="Go to Tune : {{ tune.name }}"><span>{{ tune.name }}</span>
                            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></td>
                            <td class="hidden-xs">{{ tune.type }}</td>
                            <td class="hidden-xs">{{ tune.key }}</td>
                            <td>
                                {% if request.user.is_authenticated %}
                                {% if tune|has_tune_favori:request.user %}
                                <button data-id="{{tune.slug}}" class="btn btn-simple unfavori tooltipInfo" data-toggle="tooltip" title="{% trans 'Tune added to your favorites' %}" type="button">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </button>
                                {% else %}
                                <button data-id="{{tune.slug}}" class="btn btn-simple favori tooltipInfo" data-toggle="tooltip" title="{% trans 'Tune absent from your favorites' %}" type="button">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </button>
                                {% endif %}
                                {% else %}
                                <button class="btn btn-simple favori" type="button" data-placement="left" data-toggle="popover" data-trigger="focus"
                                title="{% trans 'Trick !' %}" data-content="{% trans 'Sign in or register to be able to add this Tune to your favorites.' %}">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
            </div>
            <div class="pull-right">
                                        <a class="btn btn-success" href="{% url 'tune:tune_liste' %}">
            <i class="fa fa-music" aria-hidden="true"></i> {% trans 'All Tunes' %}
        </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 well">
                <div class="row">
            <div class="col-xs-12">
                <h1>{% trans 'Last groups created' %}</h1>
                        <div class="panel panel-primary wrappedTable">
            <table class="table table-striped table-hover">
                {% if groups|length == 0 %}
                <thead><tr><th>{% trans 'No group' %}</th></tr></thead>
                {% else %}
                <thead>
                    <tr>
                        <th class="widthCell">{% trans 'Name' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                            <td class=""><a
                            href="{% url 'user:groupe_lire' slug=group.slug %}"
                            class="btn-link tooltipInfo" data-toggle="tooltip"
                            title="Go to group : {{ group.name|truncatechars:60 }}"><span>{{ group.name|truncatechars:30 }}</span>
                            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
            </div>
            <div class="pull-right">
                        <a class="btn btn-success" href="{% url 'user:groupe_liste' %}">
            <i class="fa fa-users" aria-hidden="true"></i> {% trans 'All groups' %}
        </a>
            </div>
        </div>
    </div>
    <div class="col-md-12 well">
                <h1>{% trans 'Last registered users' %}</h1>
                                        <div class="panel panel-primary wrappedTable">
            <table class="table table-striped table-hover">
                {% if users|length == 0 %}
                <thead><tr><th>{% trans 'No registered user' %}</th></tr></thead>
                {% else %}
                <thead>
                    <tr>
                        <th class="widthCell">{% trans 'Name' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                            <td class="">{{ user.username|truncatechars:30 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
        </div>
    </div>
{% include 'disqus.html' with PAGE_IDENTIFIER="home" %}
{% endblock %}