{% extends "tune/layout.html" %}
{% load static %}
{% load bootstrap_tags %}
{% load i18n %}

{% block title %}
{% trans 'Modify' %} "{{group.name}}" 
{% endblock %}

{% block jumboTitle %}
{% trans 'Modify' %} "{{group.name}}" 
{% endblock %}

{% block jumboMessage %}
{% trans 'Modify the group' %} "{{group.name}}" {% trans 'filling the following form' %}
{% endblock %}

{% block timtool_body %}
<div class="col-xs-12 col-sm-11 col-md-10 col-lg-9">
<form action="" method="post">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <input type="submit" class="btn btn-success" value="{% trans 'Send' %}" />
</form>
</div>
{% endblock timtool_body %}

{% block actions %}
        <a class="list-group-item" href="{% url 'user:groupe_lire' slug=group.slug %}">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> {% trans 'Back to the description' %}
        </a>
{% endblock %}

    {% block actions_page %}
        <a class="btn btn-success" href="{% url 'user:groupe_lire' slug=group.slug %}">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> {% trans 'Back to the description' %}
        </a>
    {% endblock %}